<!-- This gets pasted into the variable in html.h, which is imported by the .ino file -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Desk Lights</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        
        <!-- Styling -->
        <style>
          
        </style>

        <!-- Content -->
        <div id="app"></div>
        
        <!-- Javascript -->
        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js'

            Vue.component('patternSelect', {
                template: `<div>
                    <div class="form-check" v-for="pattern in patterns" :key="pattern.value">
                        <label class="form-check-label">
                            <input @change="onChange($event)" class="form-check-input" type="radio" name="patternGroup" :value="pattern.value" :checked="pattern.checked">
                        {{pattern.name}}</label>
                    </div>
                </div>`,
                data: () => {
                    return {
                        pattern: '',
                        patterns: [
                            { value: "off", name: "Off", checked: true },
                            { value: "led", name: "Single LED" },
                            { value: "solid", name: "Solid Color" },
                            { value: "hsv_strip", name: "HSV Strip" },
                            { value: "wipe", name: "Wipe" },
                            { value: "wave", name: "Wave" },
                            { value: "hsv_cycle", name: "HSV Cycle" },
                            { value: "confetti", name: "Confetti" },
                            { value: "rain", name: "Rain" },
                            { value: "hsv_rain", name: "HSV Rain" },
                            { value: "fire", name: "Fire" },
                            { value: "lightning", name: "Lightning" },
                            { value: "test", name: "Test" },
                            { value: "other", name: "Other" }
                        ]
                    }
                },
                methods: {
                    onChange(event) {
                        var optionText = event.target.value;
                        this.$emit('select', optionText);
                    }
                }

            });

            Vue.component('rgb', {
                template: `
                <div class="input-group my-3">
                    <span class="input-group-text">Red</span>
                    <input type="text" class="form-control" placeholder="Red" aria-label="Red" :value="red" @input="$emit('update:red', $event.target.value)">
                    
                    <span class="input-group-text">Green</span>
                    <input type="text" class="form-control" placeholder="Green" aria-label="Green" :value="green" @input="$emit('update:green', $event.target.value)">

                    <span class="input-group-text">Blue</span>
                    <input type="text" class="form-control" placeholder="Blue" aria-label="Blue" :value="blue" @input="$emit('update:blue', $event.target.value)">
                </div>`,
                props: ['red', 'green', 'blue']
            });

            Vue.component('idx', {
                template: `
                <div class="input-group my-3">
                    <span class="input-group-text">Index</span>
                    <input type="text" class="form-control" placeholder="Index" aria-label="Index" :value="idx" @input="$emit('update:idx', $event.target.value)">
                </div>`,
                props: ['idx']
            });

            Vue.component('anim_speed', {
                template: `
                <div class="input-group my-3">
                    <span class="input-group-text">Speed</span>
                    <input type="text" class="form-control" placeholder="Speed" aria-label="Speed" :value="spd" @input="$emit('update:spd', $event.target.value)">
                </div>`,
                props: ['spd']
            });

            Vue.component('fade_freq', {
                template: `
                <div class="input-group my-3">
                    <span class="input-group-text">Fade</span>
                    <input type="text" class="form-control" placeholder="Fade" aria-label="Fade" :value="fade" @input="$emit('update:fade', $event.target.value)">
                    
                    <span class="input-group-text">Frequency</span>
                    <input type="text" class="form-control" placeholder="Frequency" aria-label="Frequency" :value="freq" @input="$emit('update:freq', $event.target.value)">
                </div>`,
                props: ['fade', 'freq']
            });

            Vue.component('MyApp', {
                template: `
                    <div class="card">
                        <div class="card-body d-grid">
                            <h5 class="card-title">Desk lights</h5>
                            <p class="card-text">Make a selection below to choose a pattern</p>
                            <patternSelect v-on:select="pattern = $event; reset()"></patternSelect>
                            <rgb v-if="pattern == 'led' || pattern == 'solid' || pattern == 'wave' || pattern == 'rain'"
                                :red.sync="red"
                                :green.sync="green"
                                :blue.sync="blue"></rgb>
                            <idx v-if="pattern == 'led'"
                                :idx.sync="idx"></idx>
                            <anim_speed v-if="pattern == 'wave' || pattern == 'hsv_cycle' || pattern == 'rain'"
                                :spd.sync="spd"></anim_speed>
                            <fade_freq v-if="pattern == 'rain'"
                                :fade.sync="fade"
                                :freq.sync="freq"></fade_freq>
                                
                            <a class="btn btn-primary mt-3" type="submit" value="Submit" v-on:click="send(pattern, red, green, blue, idx, spd, fade, freq)">Apply</a>
                        </div>
                    </div>
                `,
                data: () => {
                    return {
                        pattern: '',
                        red: '',
                        green: '',
                        blue: '',
                        idx: '',
                        spd: '',
                        fade: '',
                        freq: '',
                    }
                },
                methods: {
                    mounted: function() {
                        this.reset();
                    },
                    reset: function() {
                        this.red = 255
                        this.green = 255
                        this.blue = 255
                        this.idx = 0
                        this.spd = 60000
                        this.fade = 250
                        this.freq = 220
                    },
                    hasRgb: function(pattern) {
                        return pattern == 'led' || pattern == 'solid' || pattern == 'wave' || pattern == 'rain';
                    },
                    hasFadeFreq: function(pattern) {
                        return pattern == 'rain';
                    },
                    hasIdx: function(pattern) {
                        return pattern == 'led';
                    },
                    hasSpd: function(pattern) {
                        return pattern == 'wave' || pattern == 'hsv_cycle' || pattern == 'rain';
                    },
                    send: function (pattern, red, green, blue, idx, spd, fade, freq) {
                        if (pattern == 'off') { pattern = 'solid&r=0&g=0&b=0' }
                        let url = '/set?pattern=' + pattern;
                        if (red && this.hasRgb(pattern)) { url += '&r=' + red }
                        if (green && this.hasRgb(pattern)) { url += '&g=' + green }
                        if (blue && this.hasRgb(pattern)) { url += '&b=' + blue }
                        if (idx && this.hasIdx(pattern)) { url += '&i=' + idx }
                        if (spd && this.hasSpd(pattern)) { url += '&anim_speed=' + spd }
                        if (fade && this.hasFadeFreq(pattern)) { url += '&fade=' + fade }
                        if (freq && this.hasFadeFreq(pattern)) { url += '&freq=' + freq }
                        axios.get(url)
                        .then(function (response) {
                            // handle success
                            console.log(response);
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                        .then(function () {
                            // always executed
                        });
                    }
                }
            });

            new Vue({
                el: '#app', // This should be the same as your <div id=""> from earlier.
                components: {
                },
                template: `
                    <div class="container mt-4">
                        <MyApp></MyApp>
                    </div>
                `
            })
        </script>
        <script  type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>